/* The smaller text under the jumbotron header */
.lead {
	text-align: center;
	color: red;
}

/* All divs with the class "card" */
.card {
	margin: 25px auto 25px auto;
}

.jumbotron {
	margin: 25px auto 25px auto;
	text-align: center;
}

.card-header {
	color: red;
}

#add-train-btn {
	background-color: #000;
}